<!doctype html>
<html>

<head>
    <title>WEB1 - <%=title%></title>
    <meta charset = "utf-8">
</head>


<body>
    <h1><a href="/">WEB</a></h1>
    <h2><a href="/">author</a></h2>
    <ol type="1">
        <li><a href="/">MySQL</a></li>
        <li><a href="/">Node.js</a></li>
        <li><a href="/">HTML</a></li>
        <li><a href="/">CSS</a></li>
        <li><a href="/">express</a></li>
    </ol>
    <h3><a href="/">홈으로가기</a></h3>
</body>

</html>